.container{
  width: 100%;
  height: fit-content;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
}
#root{
  width: 1200px;
  margin: auto;
}